{% extends "base.html" %}

{% block title %}sha1 hash / checksum{% endblock %}

{% block content %}
  <h1>sha1 <small>hash / checksum</small></h1>

  {% if digest %}
    <pre class="alert alert-success" id="hash"
         >Hash: <strong>{{ digest }}</strong></pre>
  {% endif %}

  <form method="post" action="/sha1/">
    {% csrf_token %}
    <textarea id="sha1" name="text" rows="10"
              class="fullwidth">{{ text }}</textarea>
    <input type="submit" id="sha1_submit"
           class="btn btn-success pull-right" value="Hash" />
  </form>
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
