{% load bababtags %}
<div class="well">
  <!--
  <small class="pull-right">
    <a class="btn btn-sm btn-link" href="javascript:;">show all</a>
  </small>
  -->
  <h3>blog</h3>
  <ul class="list-unstyled">
    {% for item in articles %}
      <li>
        <span class="pull-right">
          {% for t in item.tags.all %}
            <span class="label label-success"
                  style="background-color: #{{ t.name|hex }}">
              {{ t.name }}
            </span>
          {% endfor %}
        </span>
        {% if item.url == article.url or item.url == latest.url %}
          <strong>{{ item.title }}</strong>
        {% else %}
          <a href="{% url 'article' item.url %}">{{ item.title }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
