{% extends "base.html" %}

{% load bababtags %}

{% block content %}

<div class="row">
  <div class="col-lg-8">

    <div class="well">
      <h2>Latest article: {{ latest.title }}</h2>
      <h4>
        <ul class="list-inline">
          <li class="pull-right">
            {% for t in latest.tags.all %}
              <span class="label label-success"
                    style="background-color: #{{ t.name|hex }}">
                {{ t.name }}
              </span>
            {% endfor %}
          </li>
          <li>{{ latest.created_at }}</li>
        </ul>
      </h4>
      <article>
        {{ latest.html|safe }}
      </article>
    </div>

  </div>
  <div class="col-lg-4">
    {% include "inc/latest-articles.html" %}
    {% include "inc/project-list.html" %}
    {% include "inc/about-me.html" %}
  </div>
</div>

{% endblock %}
