{% extends "base.html" %}

{% block title %}Tools{% endblock %}
{% block body-attr %}{% endblock %}

{% block menu %}
  <a href="/">Home</a> |
  <a href="/projects/">Projects</a> |
  Tools |
  <a href="/news/">News</a>
{% endblock %}

{% block content %}
  <h1>Tools</h1>

  <div id="tools">
    <p>
      Here is an overview of all the tools you can find here.
      It mostly are tools for getting random strings en numbers,
      creating hashes/checksums of strings and a selection of
      handy webdesign and (web)development tools.
    </p>
  </div>

  {% for name, description in tools.iteritems %}
    <h2>
      {{ name }}
      <small>
      </small>
    </h2>
    <p>
      {{ description }}
    </p>
  {% endfor %}

{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
