{% extends "tools/index.html" %}

{% block title %}md5 hash/checksum{% endblock %}

{% block content %}
  <p class="floatr">
    <a href="/tools/">Go back to all tools</a>
  </p>
  <h1>md5 hash/checksum</h1>

  {% if digest %}
    <pre id="hash">Hash: <strong>{{ digest }}</strong></pre>
  {% endif %}

  <form method="post" action="/md5/">
    {% csrf_token %}
    <textarea id="md5" name="text" class="fullwidth">{{ text }}</textarea>
    <input type="submit" id="md5_submit" value="Hash">
  </form>

{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
