{% extends "base.html" %}

{% block title %}rot13 encoder/decoder{% endblock %}
{% block body-attr %}{% endblock %}

{% block menu %}
  <a href="/">Home</a> |
  <a href="/projects/">Projects</a> |
  Tools |
  <a href="/news/">News</a>
{% endblock %}

{% block content %}
  <p class="floatr">
    <a href="/tools/">Go back to all tools</a>
  </p>
  <h1>rot13 encoder/decoder</h1>
  <p>
    From Wikipedia -
    <a href="https://en.wikipedia.org/wiki/ROT13">
      https://en.wikipedia.org/wiki/ROT13
    </a>
  </p>
  <blockquote>
    <em>
      "ROT13 ("rotate by 13 places", sometimes hyphenated ROT-13) is a simple
      letter substitution cipher that replaces a letter with the letter 13
      letters after it in the alphabet. ROT13 is an example of the Caesar
      cipher, developed in ancient Rome.
    </em>
  </blockquote>
  <blockquote>
    <em>
      In the basic Latin alphabet, ROT13 is its own inverse; that is, to undo
      ROT13, the same algorithm is applied, so the same action can be used for
      encoding and decoding. The algorithm provides no cryptographic security,
      and is often cited as a canonical example of weak encryption."
    </em>
  </blockquote>
  <form method="post" action="/rot13/">
    {% csrf_token %}
    <textarea id="rot13" name="text" class="fullwidth">{{ text }}</textarea>
    <input type="submit" id="rot13_submit" value="Encode/Decode">
  </form>

{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
