{% extends "base.html" %}

{% block title %}String Generator tool{% endblock %}

{% block content %}
  <h1>
    strgen
    <small>
      String Generator tool<br />
      Create random strings and passwords
    </small>
  </h1>

  <p>
    For improved readability of generated strings, the following
    characters are removed from the a-z, A-Z and 0-9 ranges by default.
  </p>

  <div class="row">
    <div class="span3">
      <ul class="unstyled">
        <li><kbd>!</kbd> exclamation mark</li>
        <li><kbd>1</kbd> one</li>
        <li><kbd>l</kbd> lowercase L</li>
        <li><kbd>i</kbd> lowercase I</li>
        <li><kbd>I</kbd> uppercase I</li>
        <li><kbd>0</kbd> zero</li>
        <li><kbd>o</kbd> lowercase O</li>
        <li><kbd>O</kbd> uppercase O</li>
      </ul>
    </div>
    <div class="span3">
      <p>
        Special chars are: <br />
        <kbd>@</kbd> <kbd>#</kbd> <kbd>$</kbd> <kbd>%</kbd> <kbd>^</kbd>
        <kbd>*</kbd> <kbd>(</kbd> <kbd>)</kbd> <kbd>_</kbd> <kbd>-</kbd>
        <kbd>=</kbd> <kbd>+</kbd> <kbd>/</kbd> <kbd>?</kbd> <kbd>.</kbd>
        <kbd>,</kbd> <kbd>~</kbd> <kbd>[</kbd> <kbd>]</kbd> <kbd>{</kbd>
        <kbd>}</kbd> <kbd>|</kbd> <kbd>;</kbd> <kbd>:</kbd>
      </p>
    </div>
  </div>

  <hr />

  <div class="row">
    <form method="post" action="/strgen/#hash">
      {% csrf_token %}
      <div class="span3">
        <p>
          <label for="id_type_of_chars_0">
            <strong>Type of chars</strong>
          </label>
          {% if form.type_of_chars.errors %}
            {% for error in form.type_of_chars.errors %}
              <div class="alert alert-error">Error: {{ error }}</div>
            {% endfor %}
          {% endif %}
          <div class="unstyled">
            {{ form.type_of_chars }}
          </div>
        </p>
      </div>
      <div class="span3">
        <p>
          <label for="id_number_of_chars">
            <strong>Number of chars (2-108)</strong>
          </label>
          {% if form.number_of_chars.errors %}
            {% for error in form.number_of_chars.errors %}
              <div class="alert alert-error">Error: {{ error }}</div>
            {% endfor %}
          {% endif %}
          <div class="input-prepend">
            <span class="add-on">#</span>
            <input type="text" name="number_of_chars"
                   id="id_number_of_chars" class="span1"
                   value="{{ form.number_of_chars.value }}">
          </div>
          <br>
          <div>
            <input type="submit" id="strgen_submit" class="btn btn-primary"
                   value="Get random string">
            <a class="btn" href="/strgen/"><i class="icon-repeat"></i></a>
          </div>
        </p>
      </div>
    </form>
  </div>
  {% if result %}
    <div class="dinges-static lime">
      Random string: <br /><strong class="code">{{ result }}</strong>
    </div>
  {% endif %}
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
