{% extends "base.html" %}
{% load markup %}
{% load menu %}

{% block title %}Projects{% endblock %}
{% block body-attr %}{% endblock %}

{% block menu %}
  {% menu projects %}
{% endblock %}

{% block content %}
  <div class="container">
    <h1>
      Projects
      <small>open source</small>
    </h1>
    <div class="row">
      <div class="span10">
        {% for p in projects %}
          <section id="{{ p.name }}">
            <div class="container">
              <div class="row">
                <div class="span7">
                  <div class="hero-unit inversed">
                    <h1>{{ p.name }}</h1>
                    {% for t in p.tags.all %}
                      <span class="label">
                        <i class="icon-tag"></i>
                        {{ t.name }}
                      </span> &nbsp;
                    {% endfor %}
                    <div class="spacer"></div>
                    <div>
                      {{ p.description|markdown }}
                    </div>
                  </div>
                </div>
                <div class="span3">
                  {% if  p.projectlink_set.all %}
                    <h2>Links</h2>
                    {% for link in p.projectlink_set.all %}
                      <strong>{{ link.name }}</strong><br>
                      <small>
                      <a href="{{ link.url }}">{{ link.url }}</a><br>
                      </small>
                    {% endfor %}
                  {% endif %}
                  {% if  p.projectrelease_set.all %}
                    <h2>Release(s)</h2>
                    <table class="table table-condensed">
                      {% for rel in p.projectrelease_set.all %}
                        <tr>
                          <td>
                            <span class="label">
                              <i class="icon-check"></i> {{ rel.name }}
                            </span>
                          </td>
                          <td>
                            {{ rel.date }}
                          </td>
                        </tr>
                      {% endfor %}
                    </table>
                  {% endif %}
                </div>
              </div>
            </div>
          </section>
          <hr>
        {% endfor %}
      </div>
      <div class="span2">
        <div data-spy="affix" data-offset-top="20">
        <ul class="nav nav-list">
          <li class="nav-header">Projects</li>
          {% for p in projects %}
          <li>
            <a href="#{{ p.name }}">{{ p.name }}</a>
          </li>
          {% endfor %}
        </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 fdm=indent ft=htmldjango: #}
