{% extends "base.html" %}
{% load menu %}

{% block title %}News{% endblock %}
{% block body-attr %}{% endblock %}

{% block menu %}
  {% menu news %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>
        News
        <small>
          some small posts about what I have been doing lately
        </small>
      </h1>
    </div>
    {% for item in news %}
      <div class="hero-unit inversed">
        <h2>{{ item.title }}</h2>
        <p>
          {% for tag in item.tag.all %}
            <span class="label">
              <i class="icon-tag"></i>
              {{ tag.name }}
            </span>&nbsp;
          {% endfor %}
          | Posted at {{ item.time }}
        </p>
        <br>
        <p>
        {{ item.text }}
        </p>
      </div>
    {% endfor %}
    </p>
  </div>
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
