{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="dinges-static">
    <h1>
      springwhiz<br />
      <small>Web application</small>
    </h1>
    <small>
      <i class="icon-tag"></i> Python &nbsp;
      <i class="icon-tag"></i> Django &nbsp;
      <i class="icon-tag"></i> Notepad / Pastebin &nbsp;
    </small>
    <div class="spacer"></div>
    <p>
      A free webapplication that gives you some tools
      to enhance your browsing experience. It is your personal start
      page with quick access to favorites and other neat stuff. If
      you prefix your query with an '@' or '#' symbol, springwhiz
      will run a command or browse to a favorite respectively.
    </p>
    <p>
      If the prefix is not found your query will be send directly to
      the duckduckgo.com search engine. This means you can use the
      awesome !bang syntax duckduckgo offers to search on hundreds of
      sites directly.
    </p>
    <p>
      springwhiz is open source software release under the
      <a href="http://www.tldrlegal.com/license/gnu-general-public-license-v3-(gpl-3)">
        GPLv3 license.
      </a>
      You are encouraged to run it on your own webserver and
      modify/extend it to your needs.
    </p>
    <div class="spacer"></div>
    <p>
      <a class="btn btn-large btn-success"
        href="http://sprwz.babab.nl/">
        springwhiz (demo)
      </a>
      <a class="btn btn-large btn-primary"
        href="http://github.com/babab/springwhiz">
        Github
      </a>
    </p>
  </div>
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
