<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    <title>{% block title %}{% endblock %} at babab.nl</title>
  </head>
  <body {% block body-attr %}{% endblock %}>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">babab.nl</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Personal website of Benjamin Althues
            </p>
            <ul class="nav nav-pills">
              {% block menu %}
              {% endblock %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    {% block content %}
    {% endblock %}
    <hr>
    <div class="navbar navbar-inverse">
      <div class="row-fluid">
        <div class="span4">
          <p>
            Copyright &copy; Benjamin Althues 2012
          </p>
        </div>
        <div class="span3 pull-right">
          <p>
            <a href="http://github.com/babab/babab_nl/">
              <span id="footerlink_babab" class="footerlink"></span>
              <span class="nodisplay">babab.nl</span>
            </a>
            <strong>{{ version_babab }}</strong>
            <a href="http://djangoproject.com/">
              <span id="footerlink_django" class="footerlink"></span>
              <span class="nodisplay">Django</span>
            </a>
            <strong>{{ version_django }}</strong>
            <a href="http://python.org/">
              <span id="footerlink_python" class="footerlink"></span>
              <span class="nodisplay">Python</span>
            </a>
            <strong>{{ version_python }}</strong>
          </p>
        </div>
      </div>
    </div>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
