<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}colors-default.css">
    <title>{% block title %}{% endblock %} at babab.nl</title>
  </head>
  <body {% block body-attr %}{% endblock %}>
    <div id="container">
      <div id="header">
        <strong class="c1">babab.nl</strong>
        <div id="menu">
          {% block menu %}
          {% endblock %}
        </div>
      </div>
      <div class="spacery"></div>
      <div id="content">
        {% block content %}
          Welcome to the Internet home of Benjamin Althues
        {% endblock %}
      </div>
      <div id="footer">
        <a href="http://github.com/babab/babab_nl/">
          <img src="{{ STATIC_URL }}80x15/babab.png" alt="babab.nl">
          <strong>{{ version_babab }}</strong></a>
        <a href="http://djangoproject.com/">
          <img src="{{ STATIC_URL }}80x15/django.png" alt="Django">
          <strong>{{ version_django }}</strong></a>
        <a href="http://python.org/">
          <img src="{{ STATIC_URL }}80x15/python.png" alt="Python">
          <strong>{{ version_python }}</strong></a>
      </div>
      <div id="copyright">Copyright &copy; 2012 Benjamin Althues</div>
    </div>
  </body>
</html>

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
