{% extends "base.html" %}
{% load webdesign %}

{% block title %}Home{% endblock %}
{% block body-attr %}{% endblock %}

{% block menu %}
  Home |
  <a href="/projects/">Projects</a> |
  <a href="/news/">News</a>
{% endblock %}
{% block content %}
  <div id="newsfloater">
    <div id="news">
      {% for item in news %}
      <strong>{{ item.title }}</strong><br>
      <small>Posted at {{ item.time }}<br>
        Tagged with
        {% for tag in item.tag.all %}
        <a href="#/news/tag/{{ tag.name }}">{{ tag.name }}</a>
        {% endfor %}
      </small><br>
        <p>
        {{ item.text }}
        </p>
        <br>
      {% endfor %}
    </div>
    <hr>
  </div>

  <h1>Home</h1>
  {% lorem 3 p %}

{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
