{% extends "base.html" %}
{% load menu %}

{% block title %}Home{% endblock %}
{% block body-attr %}id="home"{% endblock %}
{% block menu %} {% menu home %} {% endblock %}

{% block content %}
  <div class="row">
    <div class="span8">
      <div class="container">
        <div class="row">
          <div class="span8">
            <div class="hero-unit">
              <h1>DisPass</h1>
              <p>
                DisPass is a passphrase generator for GNU/Linux, *BSD, MacOS X
                and Windows. Generate unique passphrases formed from a master
                password and a label, helping you get rid of the bad habit of
                using a single password for multiple websites. When using a
                different passphrase for every website, the chance of abuse
                of your password on other sites (when a website leaks it) is
                eliminated. Dispass is a console application, but also has a
                simple graphical interface.
              </p>
              <p>
                <a class="btn btn-large btn-success"
                  href="http://dispass.babab.nl/">
                  Visit DisPass website
                </a>
                <a class="btn btn-large btn-link"
                  href="http://dispass.babab.nl/">
                  http://dispass.babab.nl
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div><!--/span8-->
    <div class="span4">
      <h2>About me</h2>
      <p>
        I am a computer enthusiast and software developer, passionate
        about free and open source software and Unix-like operating
        systems.
      </p>
      <h2>About this site</h2>
        <p>
          At this site you can find (links to) some software projects and
          also some (geeky) tools.
          The site has a <a href="http://www.djangoproject.com">Django</a>
          backend, <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>
          frontend and is fully open-source. You can use
          (components of) the code as long as you respect the
          <a href="https://raw.github.com/babab/babab_nl/master/LICENSE">
          zlib/libpng</a>
          style license.
        </p>
        <p>
          <a class="btn btn-small"
            href="https://github.com/babab/babab_nl/">
            Visit the github project page
          </a>
        </p>
      <h2>Email</h2>
      <p>
        If you want to contact me you can drop me an email at
        <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#98;&#101;&#110;&#106;&#97;&#109;&#105;&#110;&#64;&#98;&#97;&#98;&#97;&#98;&#46;&#110;&#108;">
          &#98;&#101;&#110;&#106;&#97;&#109;&#105;&#110;&#64;&#98;&#97;&#98;&#97;&#98;&#46;&#110;&#108;
        </a>
      </p>
      <h2>IRC</h2>
      <p>
        You can find me on #babab @ irc.fredsco.com/6667
        <br>
        You can find me as babab @ Freenode
      </p>
      <h2>Social Coding</h2>
      <ul class="unstyled">
        <li>
          <a href="https://github.com/babab/">
            Github profile
          </a>
        </li>
        <li>
          <a href="https://bitbucket.org/babab/">
            Bitbucket profile
          </a>
        </li>
        <li>
          <a href="https://www.ohloh.net/accounts/babab">
            Ohloh profile
          </a>
        </li>
      </ul>
    </div><!--/span4-->
  </div><!--/row-->
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
