{% extends "base.html" %}
{% load menu %}

{% block title %}Home{% endblock %}
{% block body-attr %}{% endblock %}

{% block menu %}
  {% menu home %}
{% endblock %}
{% block content %}
  <div id="newsfloater">
    <div id="news">
      {% for item in news %}
      <strong>{{ item.title }}</strong><br>
      <small>Posted at {{ item.time }}<br>
        Tagged with
        {% for tag in item.tag.all %}
          <a href="#/news/tag/{{ tag.name }}">
            {{ tag.name }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </small><br>
        <p>
        {{ item.text }}
        </p>
        <br>
      {% endfor %}
    </div>
    <hr>
  </div>

  <h1>Home</h1>
  <p>
    At this site you can find (links to) some software
    projects and also some (geeky) tools.
  </p>
  <p>
    The site itself is written in Django and completely open-source.
    You can use (components of) the code as long as you respect the
    zlib/libpng style license.
    <a href="https://github.com/babab/babab_nl/">
      Visit the github project page.
    </a>
  </p>

  <h2>About me</h2>
  <p>
    I am a computer enthusiast and software developer, passionate about
    free and open source software and Unix-like operating systems. Well,
    that's it for now, there will be a real about me section soon coming
    soon.
  </p>

  <h2>Contact me</h2>
  <br>

  <h3>Email</h3>
  <p>
    If you want to contact me you can drop me an email at
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#98;&#101;&#110;&#106;&#97;&#109;&#105;&#110;&#64;&#98;&#97;&#98;&#97;&#98;&#46;&#110;&#108;">
      &#98;&#101;&#110;&#106;&#97;&#109;&#105;&#110;&#64;&#98;&#97;&#98;&#97;&#98;&#46;&#110;&#108;
    </a>
  </p>

  <h3>IRC</h3>
  <ul>
    <li>You can find me on #babab @ irc.fredsco.com</li>
    <li>You can find me as babab @ IRCnet, OFTC and Freenode</li>
  </ul>

  <h3>Social Coding</h3>
  <ul>
    <li><a href="https://github.com/babab/">Github profile</a></li>
    <li><a href="https://bitbucket.org/babab/">Bitbucket profile</a></li>
    <!-- <li><a href="#">Launchpad profile</a></li> -->
  </ul>
{% endblock %}

{# vim: set et ts=2 sw=2 sts=2 ft=htmldjango: #}
